body {
}

#container {
    width: 460px;
    height: 460px;
    border: 1px solid black;
}

    #container div {
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 5px;
        vertical-align: middle;
        float: left;
    }

        #container div.clickable {
            background: red;
            cursor: pointer;
            font-size: 40px;
            border:1px solid black;
            border-radius:5px;
        }

        #container div#empty {
            background: white;
            cursor: default;
            border:1px solid white;
        }

        #container div > p {
            text-align: center;
            line-height: 50px;
            margin-top: 25%;
        }
