body {
}

#wrapper {
    width: 500px;
    height: auto;
    background-image: url("../Images/wood-texture-dark.jpg");
}

#score-container {
    margin-left: 12px;
    padding: 10px;
    display: inline-block;
}

    #score-container > p {
        margin-left: 5px;
        padding: 10px;
        background: url("../Images/wood-texture-background.jpg");
        font-size:large;
        border-radius:5px;
    }

#btn-start-new-game {
    margin: 25px;
    padding: 10px;
    background: url("../Images/wood-texture-background.jpg");
    display: inline-block;
    border-radius:5px;
}
    #btn-start-new-game:hover {
        border-style:inset;
    }

#container {
    width: 460px;
    height: 460px;
    margin: auto;
    /*border: 1px solid black;*/
}


    #container div {
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 5px;
        vertical-align: middle;
        float: left;
    }

        #container div.clickable {
            background: url("../Images/wood-texture-background.jpg");
            cursor: pointer;
            font-size: 40px;
            border: 1px solid black;
            border-radius: 5px;
        }

        #container div#empty {
            opacity: 0;
            cursor: default;
            border: 1px solid white;
        }

        #container div > p {
            text-align: center;
            line-height: 50px;
            margin-top: 25%;
        }
